* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0F0F5;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  cursor: pointer;
}

#root {
  background: url('../assets/background.svg') no-repeat;
  background-position: center top;
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 20px;
}
